{% extends "base3.html" %}
{% block content %}
  
<style>
    #im{
        display:block;
        /* float: left; */
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin-top: 180px;
        text-align: center;
    }
</style>

<div id="im">
<h3>
    Devloped By @Priyanshu
</h3>
<br>
<p style="margin-top: 1%; margin-left: 0.8%; margin-right: 0.8%;">
    Hey Anonymous thanks for checking this site and i hope everything works fine for you.
    <br>
    I am curently pursuing b.tech in Computer Science 
    <br>
    you can contact me via email or instagram
    <br>
    priyanshusinghpps786@gmail.com 
    <br>
    @priyanshu_singh_pps.02
</p>

<br>
<br>
<h4>~Thank you~</h4>
</div>


{% endblock content %}