{% extends "base.html" %}
{% block content %}
  
    <style>

#frm{
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container{
    width: 320px;
    height: 200px;
    
}
body{
    background-color: rgb(97, 149, 148);
}
.login {
    
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
}

.card {
    /* padding: 20%; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  width: 300px;
  flex-direction: column;
  gap: 35px;
  background: #e3e3e3;
  box-shadow: 16px 16px 32px #32e1e1,
        -16px -16px 32px #32e1e1;
  border-radius: 8px;
}

.inputBox {
  position: relative;
  width: 250px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  /* margin-bottom: 1em; */
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}



    </style>
<div id="frm">
  <form method="post" action="logi">
    {% csrf_token %}
<div class="container">
    <div class="card">
        <a class="login">Log in</a>
        <div class="inputBox">
            <input type="text" name="username"  required="required">
            <span class="user" >Username</span>
        </div>

        <div class="inputBox">
            <input type="password" name="password" required="required">
            <span>Password</span>
        </div>

        <button class="enter" type="submit" >Login</button>
      </form>
            <button class="enter" id="btn" onclick="window.location.href='sign';"> Signup </button> 

    </div>
</div>

</div>

{% endblock content %}