{% extends "base1.html" %}
{% block content %}

<style>
  input::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 13px;
}
#choose{
    display: flex;
    height: 480px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#fil
{
    width: 340px;
    height: 450px;
}
.button {
 --color: #48c695;
 padding: 0.8em 1.7em;
 background-color: transparent;
 border-radius: .3em;
 position: relative;
 overflow: hidden;
 cursor: pointer;
 transition: .5s;
 font-weight: 400;
 font-size: 13px;
 border: 1px solid;
 font-family: inherit;
 text-transform: uppercase;
 color: var(--color);
 z-index: 1;
 color: rgb(2, 10, 17);
}

.button::before, .button::after {
 content: '';
 display: block;
 width: 50px;
 height: 50px;
 transform: translate(-50%, -50%);
 position: absolute;
 border-radius: 50%;
 z-index: -1;
 background-color: var(--color);
 transition: 1s ease;
 
}

.button::before {
 top: -1em;
 left: -1em;
 
}

.button::after {
 left: calc(100% + 1em);
 top: calc(100% + 1em);
 
}
body{
  background-color: rgb(97, 149, 148);
}

.button:hover::before, .button:hover::after {
 height: 410px;
 width: 410px;
}

.button:hover {
 color: rgb(10, 25, 30);
}

.button:active {
 filter: brightness(.8);
}

</style>
<br>
<!-- <center> -->
  <form method="post" action="write" enctype="multipart/form-data">
    {% csrf_token %}
<div style="display: flex;   ; backdrop-filter: blur(10px);  justify-content: center; align-items: center;  ">
<div style="background-color: rgba(202, 243, 243, 0.6) ;">
    <br>
<h3 style="text-align: center;">Choose a picture to post</h3>
<div id="choose" style="margin-left: 1.5%;">
    <div id="fil">
  <input type="file" name="image">
  <div id="txt">
    <h3 style="margin-top: 3%; text-align: center;"> Write a desc </h3>
    <input type="text" name="txt" style="height: 180px; overflow-x: visible; border-radius: 30px; width: 320px; margin-top: 2%;">
</div>
<br>
<div style="display: flex; float: right; margin-right: 10%;">
<button class="button" type="submit"> POST
</button>

</div>
</div>
</div>
</div>
</div>
</form>
<!-- </center> -->

{% endblock content %}